.boxed {
	clear: both;
	padding: 10px;
	background: #f8f8f8 url(../images/paper.png);
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.boxed ul {
	margin: 0;
}

code {
	background-color: #F0F0F0;
	padding: 1px 2px;
}

pre code {
	padding: 0;
	background-color: transparent;
}

pre {
	background-color: #F5F5F5;
	padding: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#nav {
	float: right;
	min-width: 160px;
	padding: 0.7em;
	margin-bottom: 1.5em;
}

#nav ul li.active {
	font-weight: bold;
}

#actions ul {
	list-style: none;
}

#actions ul:after {
	content: '.';
	visibility: hidden;
	clear: both;
}

#actions ul li {
	float: left;
	padding-right: 4px;
	border-right: 1px solid #aaa;
	margin-right: 4px;
}

#actions ul li.action-delete a {
	color: #f00;
}

#actions ul li.action-delete a:hover {
	background-color: #f00;
	color: #fff;
}

#actions ul li.last {
	border-right-width: 0;
	margin-right: 0;
	padding-right: 0;
}

#page {
	padding: 1.5em 0;
}

#edit-page-form {
	clear: both;
}

#edit-page-form textarea {
	width: 98%;
	height: 600px;
	padding: 1%;
	margin: 0;
	font-family: monospace;
	font-size: 1.3em;
}

div.preview {
	background-image: url(../images/preview.png);
}

form fieldset,
form input.text,
form textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

form fieldset {
	background: #f8f8f8 url(../images/paper.png);
}

form fieldset label {
	color: #555;
	text-shadow: 0 1px 0 #fff;
}

@import url("../js/wmd/wmd.css");
